.error {
    border: 1px solid red;
}
.success {
    border: 1px solid green;
}
.progress {
    width: 20px;
    height: 20px;
    background: url('./src/image/loading.gif') no-repeat center center;
    background-size: contain;
}